{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Claim postcard' %}: {{ object.pk }}{% endblock %}

{% block body %}
<h3>📩 {% trans 'Yay, got a postcard!' %}</h3>

<p>
    <span>🌍➡️{% trans 'From' %}:</span>
    {{ object.from_city }}, {{ object.from_country.name }}
</p>
<p>
    <span>🗓️⌚{% trans 'Sent at' %}:</span>
    {{ object.sent_at }}
</p>

<form action="" method="POST">
    <fieldset>
        {% csrf_token %}

        <label for="claim_comment">✍️📄 {% trans 'Comments (optional)' %}</label>
        {{ form.claim_comment }}

        <input type="submit" value="✅ {% trans 'Confirm' %}" title="I've received it!"
               class="button-primary" />
    <fieldset>
</form>

{% endblock %}
