# Core
boto3~=1.23.8
Django~=3.2
gunicorn
pytz

# Django addons
django-countries~=7.3
django-environ~=0.8.1
django-hashid-field~=3.3.3
djangorestframework~=3.13.1
django-storages~=1.12
django-timezone-field~=5.0

# Database
psycopg2-binary~=2.9.3

# Additional libs.
Pillow~=9.1.0  # For ImageField.
markdown~=3.3.6  # For DRF.

# Non-lib tools.
sentry-sdk~=1.5.1
