# Core
boto3~=1.26.0
Django~=3.2
gunicorn
pytz
tzdata

# Django addons
django-countries~=7.5
django-environ~=0.10.0
django-hashid-field~=3.3.3
djangorestframework~=3.14.0
django-storages~=1.13
django-timezone-field~=5.0

# Database
psycopg2-binary~=2.9.4

# Additional libs.
Pillow~=9.4.0  # For ImageField.
markdown~=3.4.1  # For DRF.

# Non-lib tools.
sentry-sdk~=1.15.0
