# Core
boto3~=1.10.41
Django==2.2.7
gunicorn
pytz

# Django addons
django-countries~=5.5
django-environ~=0.4.5
django-hashid-field~=2.1.6
django-storages~=1.8

# Database
psycopg2-binary~=2.8.4

# Additional libs.
Pillow~=6.2.1  # For ImageField.

# Non-lib tools.
sentry-sdk~=0.13.4
